@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background-color: #f3f3f3;
    margin: 0;
}

.Nav{
    position: sticky;
    top: 0;
    background-color: red;
}



.icon-container {
    padding: 0.2rem;
    width: 30px;
    height: 30px;
    background-color: #CEE3D4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}



.ql-editor {
    min-height: 30rem;
}

.container {
    position: relative;
}

.dropdown {
    background-color: white;
    padding: 1rem;
    border-radius: .6rem;
    width: 10rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    list-style: none;
    transition: 500ms ease-in;
    
}

.list-item{
    display: flex;
    justify-content: center;
    
}
