*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background-color: #f3f3f3;
    margin: 0;
}

.Nav{
    position: sticky;
    top: 0;
    background-color: red;
}

.container .ql-editor{
    width: 8in;
    min-height: 11in;
    background-color: white;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.container .ql-container.ql-snow{
    border: none;
    display: flex;
    justify-content: center;
}

.container .ql-toolbar.ql-snow{
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: #f3f3f3;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border: none;
}

.icon-container {
    padding: 0.2rem;
    width: 30px;
    height: 30px;
    background-color: #CEE3D4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

@media print{
body{
    background: none;
}

@page{
    margin: 1in;
}

.container .ql-editor{
    width: 6.5in;
    height: 9in;
    padding: 0;
    margin: 0;
    box-shadow: none;
    align-self: flex-start;
}
.container .ql-toolbar.ql-snow{
    display: none;
}


}
