*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background-color: #f3f3f3;
    margin: 0;
}

.container .ql-editor{
    width: 8in;
    min-height: 11in;
    background-color: white;
    padding: 1in;
    margin: 1rem;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

.container .ql-container.ql-snow{
    border: none;
    display: flex;
    justify-content: center;
}

.container .ql-toolbar.ql-snow{
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: #f3f3f3;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    border: none;
}
